

<div class="container">


  <section class="header">
    <img class="header__logo" src="assets/logo_betterware.png">

    <img class="header__photo" src="assets/rss/photo.jpg" alt="">

  </section>

  <section class="nombre">

    <h3>Mati Hernández Morales</h3>
    <h4>Distribuidora Líder </h4>

  </section>

  <section class="rss">

    <div class="rss__line">

      <a href="tel:5591912599">
        <img src="assets/rss/phone.png" alt="telefono">
        <span>Teléfono</span>
      </a>

      <a target="_blank" href="https://wa.me/525591912599?text=¡Hola Mati! Estoy interesad@ en tus productos de Betterware">
        <img src="assets/rss/wa.png" alt="whatsApp">
        <span>WhatsApp</span>
      </a>

      <a target="_blank" href="https://www.facebook.com/mati.hdez.7">
        <img src="assets/rss/fb.png" alt="facebook">
        <span>Facebook</span>
      </a>
    </div>

  </section>


  <section class="catalogo">

    <div class="catalogo__info">
      <p>Contratación, capacitación de asociadas y distribuidoras</p>  
    </div>

    <p class="txt-catalogos">Conoce nuestros catálogos <span class="txt-red" style="font-weight: 600;">gratis</span></p>

    <div class="portadas">



      <a href="assets/catalogo_oportunidades.pdf" download="">
        <img src="assets/portada_oportunidades.jpg" alt="">
      </a>

      <a href="assets/catalogo_nan.pdf" download>
        <img src="assets/portada_nan.png" alt="">
      </a>
    </div>

  </section>


  <section class="footer">

  </section>


</div>